<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.step.lclib">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config_test"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".work.jetpack.WorkManagerActivity"
            android:exported="true" />
        <activity
            android:name=".work.bestpractice.screen.FullScreenAdoptActivity"
            android:exported="true" />
        <activity
            android:name=".work.bestpractice.MediaListenerActivity"
            android:exported="true" />
        <activity
            android:name=".work.md.TestLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".work.md.MaterialActivity"
            android:exported="true" />
        <activity
            android:name=".work.flow.FlowOpCodeActivity"
            android:exported="true" />
        <activity
            android:name=".work.flow.FlowComposeActivity"
            android:exported="true"
            android:label="@string/title_activity_flow_compose"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".work.page.UtilsTestActivity"
            android:exported="true" />
        <activity
            android:name=".work.bestpractice.valide.ValidFlowActivity"
            android:exported="true" />
        <activity android:name=".work.page.SaveBlumActivity" />
        <activity android:name=".debug.preference.ui.DebugPrefActivity" />
        <activity android:name=".work.bestpractice.threeD.CardFlipActivity" />
        <activity android:name=".work.bestpractice.threeD.CardFlipWithCamera" />
        <activity android:name=".work.page.NineDrawableAct" />
        <activity android:name=".work.page.IncludeLearnAct" />
        <activity android:name=".work.page.LottieActivity" />
        <activity android:name=".work.bestpractice.MainActivity" />
        <activity android:name=".work.bestpractice.IncludeActivity" />
        <activity android:name=".work.bestpractice.recyclerview.RecyclerViewActivity" />
        <activity android:name=".work.page.MediaActivity" />
        <activity android:name=".work.jetpack.JetpackActivity" />
        <activity android:name=".work.exo.ExoActivity" />
        <activity android:name=".work.page.WindowManagerAct" />
        <activity android:name=".work.page.StorageActivity" />
        <activity android:name=".work.flow.FlowActivity" />
        <activity android:name=".work.page.Sample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".work.page.WorkJavaActivity" />
        <activity android:name=".work.page.WorkActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ConstrainTestActivity" />
        <activity android:name=".work.jetpack.LifecycleActivity" />
        <activity android:name=".MainActivity" />

        <service
            android:name=".service.RemoteBitmapService"
            android:process=":remote" />

        <provider
            android:name=".work.ExportProvider"
            android:authorities="${applicationId}.work.ExportProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/export_provider_paths" />
        </provider>
    </application>

</manifest>