<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.step.lclib">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".work.page.IncludeLearnAct"></activity>
        <activity android:name=".work.bestpractice.MainActivity" />
        <activity android:name=".work.page.MediaActivity" />
        <activity android:name=".work.jetpack.JetpackActivity" />
        <activity android:name=".work.exo.ExoActivity" />
        <activity android:name=".work.page.WindowManagerAct" />
        <activity android:name=".work.page.StorageActivity" />
        <activity android:name=".work.flow.FlowActivity" />
        <activity android:name=".work.page.Sample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".work.page.WorkJavaActivity" />
        <activity android:name=".work.page.WorkActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ConstrainTestActivity" />
        <activity android:name=".jetpack.LifecycleActivity" />
        <activity android:name=".MainActivity" />

        <service
            android:name=".service.RemoteBitmapService"
            android:process=":remote" />

        <provider
            android:name=".work.ExportProvider"
            android:authorities="${applicationId}.work.ExportProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/export_provider_paths" />
        </provider>
    </application>

</manifest>